// 颜色定义规范
$color-theme= #d32f2f
$color-input-bg= #da6969
$color-background= #fff
$color-highlight-background= rgb(253, 108, 98)
$color-text= #333
$color-text-hl= #d33a31
$color-text-sub= #888
$color-text-num= #999
$color-text-numhl= #df3436
$color-text-g= #757575
$color-text-ggg= #c7c7c7

//字体定义规范
$font-size-small-ss= 9px
$font-size-small-s= 10px
$font-size-small= 11px
$font-size-small-x= 12px
$font-size-medium= 14px
$font-size-medium-x= 16px
$font-size-large-s= 17px
$font-size-large= 18px
$font-size-large-x= 22px
